/* ----- / Colors ----- */
@linkcolor: #a500a5;
@linkcolor-visited: #6C006C;
@linkcolor-hover: #a500a5;
@linkcolor-active: #ff99ff;
@linkcolor-menu: #ff99ff;

/* ----- / Basic typography ----- */
@fontsize-default: 13px;
@fontsize-secondary: 12px;

@lineheight-default: 20px;
@lineheight-secondary: 18px;

.text-shadow(@param) {
  -webkit-text-shadow: @param;
  -moz-text-shadow: @param;
  text-shadow: @param;
}

.background-black(@param) {
  background: url('../images/black-bg-75.png');
  background: rgba(0,0,0,@param);
}

.background-white(@param) {
  background: url('../images/white-bg-80.png');
  background: rgba(255,255,255,@param);
}

body {
  font: @fontsize-default "TitilliumText22LRegular", Arial,sans-serif;
  line-height: @lineheight-default;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6, {
  color: #000;
  font-family: "BebasNeueRegular",Arial,sans-serif;
}

h1 {
  font-size: @fontsize-default * 2.75;
}

h2 {
  font-size: @fontsize-default * 2;
}

h3 {
  font-size: @fontsize-default * 1.5;
}

p {
  margin-bottom: 0.6em;
}

/* ----- / Tabs ----- */

.tabs {
  font-size: @fontsize-default * 1;
}

/* ----- / Forms ----- */

input[type="text"], input[type="password"] {
  border-top: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #cecece;
  border-left: 1px solid #cecece;
  font-size: @fontsize-default * 1;
}

input[type="submit"] {
  background-color: #e5f0f3;
  border: 1px solid #bccdd2;
  color: #666;
  cursor: pointer;
  padding: 5px 10px;
}

/* ----- / Links ----- */

a,
a:link {
  color: @linkcolor;
  text-decoration: none;
}

a:visited {
  color: @linkcolor-visited;
}

a:hover,
a:focus {
  color: @linkcolor-active;
  text-decoration: underline;
}

a:active {
  color: @linkcolor-active;
}

li a.active {
  color: @linkcolor;
}

/* ----- / Node ----- */
.node .content a:link {
  border: 0;
}

/* ----- / Menus ----- */

#left .menu a {
  line-height: 100%;
}

#left .menu li a {
  color: #fff;
  font: @fontsize-default * 1.5 "BebasNeueRegular",Arial,sans-serif;
  text-transform: uppercase;
}

#left .menu li a,
#left .menu li li.first a {
  .background-black(0.75);
  border: 0;
}

#left .menu li a.active,
#left .menu li a.active-trail {
  color: @linkcolor-menu;
  font-size: @fontsize-default * 2;
}

#left .menu li a:hover,
#left .menu li a:focus {
  .background-black(0.85);
  color: #fff;
  font-size: @fontsize-default * 1.75;
  text-decoration: none;
}

#left .menu li a:focus {
  color: @linkcolor-menu;
}

#left .menu li a.active:hover,
#left .menu li a.active-trail:hover {
  .background-black(0.85);
  color: @linkcolor-menu;
  font-size: @fontsize-default * 2;
}

/* !----- / Secondary menu ----- */

#block-menu-secondary-links ul li {
  background: none;
}

#block-menu-secondary-links ul li a {
  .background-black(0.75);
  color: #fff;
  font: @fontsize-default * 1.12 "BebasNeueRegular",Arial,sans-serif;
  line-height: 100%;
}

#block-menu-secondary-links ul li a:hover {
  .background-black(0.85);
  border: 0;
  color: #fff;
}

/* !----- / Facebook menu item ----- */
#block-menu-secondary-links ul li a.facebook {
  background: url('../images/facebook.png') no-repeat center top;
  height: 19px;
  overflow: hidden;
  padding: 0;
  text-indent: -10000px;
  width: 20px;
}

#block-menu-secondary-links ul li a.facebook:hover {
  background-position: center bottom;
}

/* !----- / Spotboxes ----- */

.nodespotbox h3 {
  font-size: @fontsize-default * 1.1;
  line-height: @lineheight-default * 1.1;
}

.nodespotbox .content-wrapper .link a {
  line-height: @lineheight-default * 1;
}

.nodespotbox .content-wrapper .link a:visited {
  color: @linkcolor-menu;
}

.nodespotbox .content-wrapper .link a:hover {
  border: 0;
  color: @linkcolor-hover;
  text-decoration: none;
}

.nodespotbox .content-wrapper .link a:active {
  color: @linkcolor-active;
}