.drop-shadow(@param) {
  -webkit-box-shadow: @param;
  -moz-box-shadow: @param;
  box-shadow: @param;
}

.border-radius(@param) {
  -webkit-border-radius: @param;
  -moz-border-radius: @param;
  box-border-radius: @param;
}

.rotation(@deg: 5deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  transform: rotate(@deg);
}

.background-black(@param) {
  background: url('../images/black-bg-75.png');
  background: rgba(0,0,0,@param);
}

.background-white(@param) {
  background: url('../images/white-bg-80.png');
  background: rgba(255,255,255,@param);
}

html {
  background: none;
}

body {
  background-color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  webkit-background-size: cover;
  background-size: cover;
}

.header {
  background-color: transparent;
  border: 0;
  overflow: hidden;
}

.header-inner {
  min-height: 256px;
}

/* !----- / Logo ----- */

.logo {
  left: 62px;
  top: 50px;
}

.logo a {
  background: url('../logo.png') no-repeat top left;
  display: block;
  height: 156px;
  overflow: hidden;
  text-indent: -10000px;
  width: 268px;
}

.logo a:hover {
  background-position: bottom left;
}

/* !----- / Main ----- */

#main {
  margin: 0 0 20px;
}

#main-inner {
  overflow: hidden;
  margin: 0 -10px 20px 10px;
}

.node-user #main-inner,
.page-blog #main-inner,
.node-type-blog-post #main-inner {
  .background-white(0.8);
  padding: 20px;
}

/* !----- / Content ----- */

#content .content {
  padding: 0;
}

#content-bottom {
  margin: 0;
  width: 640px;
}

#content .content .imagecache-page-image {
  float: left;
  margin: 5px 10px 5px 0;
}

#content .pane-node-content,
#content .block .view-sigrids-stue-blog {
  .background-white(0.8);
  padding: 20px;
}

.front #content .pane-node-content {
  padding: 20px 20px 10px;
}

#content .block .view-sigrids-stue-blog {
  padding: 0 20px 1px;
}

#content .panel-col-top {
  margin: 0 0 20px;
}

/* !----- / Secondary menu, language switch and Facebook link ----- */

#block-menu-secondary-links {
  right: 0;
}

#block-menu-secondary-links,
.block-langswitch,
.header .block a.facebook {
  float: right;
  margin: 0 0 0 5px;
  position: relative;
  top: 31px;
}

#block-menu-secondary-links li,
.block-langswitch li {
  padding: 0;
}

.header .block p {
  margin: 0;
}

/* !----- / Main menu ----- */

#main-menu {
  background-color: transparent;
  position: relative;
}

#left .menu li,
#left .menu li.first.active-trail.active {
  border: 0;
  display: block;
  float: none;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

#left .menu li li,
#left .menu li.active li {
  border: 0;
  margin: 0 0 5px;
}

#left .menu li li.last {
  margin: 0;
}

#left .menu a,
#left .menu li a,
#left .menu li li a {
  display: inline-block;
  padding: 8px 10px 7px;
  text-decoration: none;
}

#left .menu ul {
  margin: 10px 0 0 10px;
}

#left .menu li a,
#left .menu li li.first a,
#left .menu li.first.active-trail.active a {
  border: 0;
}

#left .menu li.last {
  margin-right: 0;
}

/* !----- / Page ----- */

.page-inner {
    background-color: transparent;
    overflow: hidden;
    padding: 0;
}

/* !----- / Pager ----- */

.item-list .pager {
  display: block;
  margin: 10px 0;
  text-align: left;
}

.item-list .pager li {
  margin: 0;
  padding: 0;
}

.item-list .pager .pager-current {
  background-color: #fff;
  border: 1px solid #9d9d9d;
  padding: 2px 6px;
}

/* !----- / Carousel ----- */

.view-slideshow {
  background-color: transparent;
  max-width: 620px;
  position: relative;
}

.view-slideshow div.views_slideshow_slide {
   height: 275px;
   width: 620px;
}

.view-slideshow .views-slideshow-controls-top {
  position: absolute;
  top: 125px;
  width: 100%;
  z-index: 5;
}

.view-slideshow .views-slideshow-controls-top a {
  background: url('../images/sigrids-stue-sprites.png') no-repeat 0 -96px;
  display: block;
  height: 27px;
  left: 20px;
  overflow: hidden;
  position: absolute;
  text-indent: -10000px;
  width: 26px;
  z-index: 5;
}

.view-slideshow .views-slideshow-controls-top a.views_slideshow_next {
  background-position: -974px -96px;
  left: auto;
  right: 20px;
}

/* !----- / Overwrite default loader ----- */

html.js a.views-throbbing,
html.js span.views-throbbing {
  background-image: url("../images/ajax-loader.gif");
  padding: 5px 25px auto auto;
}

/* !----- / Page content ----- */

#main #content .menu .view-content {
  margin: 0;
}

/* !----- / Forms ----- */

textarea, input[type="text"], input[type="password"] {
  padding: 7px;
}

input.form-autocomplete {
  padding: 6px;
}

/* !----- / Spotbox ----- */

.nodespotbox {
  margin-bottom: 20px;
}

.nodespotbox h3,
.nodespotbox .image,
.nodespotbox .content-wrapper {
  .background-white(0.8);
}

.nodespotbox h3 {
  margin: 0;
  padding: 0;
}

.nodespotbox h3.nolink,
.nodespotbox h3 a {
  padding: 20px 20px 15px;
}

.nodespotbox .image {
  padding: 0 0 20px;
}

.nodespotbox .content-wrapper {
  min-height: 65px;
  padding: 0 20px 20px 20px;
}

.nodespotbox .content-wrapper p {
  display: inline;
}

/* !----- / Blog ----- */

.front .view-sigrids-stue-blog .view-content {
  border-top: 1px dashed #9d9d9d;
}

#blog,
.blog-post {
  margin: 0 0 0 75px;
  .blog-post {
    border-bottom: 1px dashed #9d9d9d;
    margin: 0 0 20px;
    overflow: hidden;
  }
  .date-wrapper {
    .background-black(.75);
    left: 20px;
    position: absolute;
    width: 66px;
  }
  .content {
    border-bottom: 1px dashed #9d9d9d;
  }
  .author,
  .date,
  .comments,
  .add-comment,
  .link {
    float: left;
    margin: 5px 2px 5px 0;
    padding: 0;
  }
  .link {
    float: right;
    margin: 5px 0;
  }
  .comments {
    li {
      padding: 0;
    }
  }
}
.blog-post {
  .blog-post-wrapper {
    border-bottom: 1px dashed #9d9d9d;
    border-top: 1px dashed #9d9d9d;
    margin: 0 0 20px;
  }
  .content {
    border-bottom: 0;
    border-top: 1px dashed #9d9d9d;
    clear: both;
  }
}

#content .blog-post .content {
  padding: 10px 0;
}

.blog-post.blog-latest {
  border-bottom: 1px dashed #9d9d9d;
  margin: 20px 0 20px;
  overflow: hidden;
  .content {
    border-bottom: 1px dashed #9d9d9d;
    border-top: 0;
  }
}

/* !----- / Comments ----- */

#comments {
  margin: 20px 0 20px 75px;
  h2 {
    margin: 0 0 10px;
  }
  .comment {
    .background-white(.75);
    margin: 15px 0;
    padding: 20px 20px 10px;
    position: relative;
    .comment-count {
      position: absolute;
      right: 15px;
      top: 15px;
      text-align: center;
    }
    .submitted {
      span {
        margin: 0;
      }
    }
    .content {
      border: 0;
      padding: 10px 0 0;
    }
  }
}

#comment-form {
  .resizable-textarea {
    width: 97%;
  }
  input[type="submit"] {
    float: right;
  }
  #edit-preview {
    margin: 0 5px 0 0;
  }
}

/* !----- / Shadowbox ----- */

#sb-overlay {
  cursor: pointer;
}

#sb-nav-label,
#sb-nav-close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
}

#sb-nav-label {
  color: #fff;
  font-weight: bold;
  line-height: 115%;
  right: 20px;
}

#sb-nav-close {
  height: 13px;
  width: 13px;
}

a[rel^=shadowbox]:link,
a[rel^=shadowbox]:visited {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 15px;
  text-decoration: none;
}

/* !----- / System ----- */

html.js input.form-autocomplete {
  background-position: 100% 7px;
}

html.js input.throbbing {
  background-position: 100% -13px;
}

/* ----- / Tabs ----- */

.tabs {
  padding: 1px 0 0 10px;
}