.drop-shadow(@param) {
  -webkit-box-shadow: @param;
  -moz-box-shadow: @param;
  box-shadow: @param;
}

.border-radius(@param) {
  -webkit-border-radius: @param;
  -moz-border-radius: @param;
  box-border-radius: @param;
}

.rotation(@deg: 5deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  transform: rotate(@deg);
}

.background-black(@param) {
  background: url('../images/black-bg-75.png');
  background: rgba(0,0,0,@param);
}

.background-white(@param) {
  background: url('../images/white-bg-80.png');
  background: rgba(255,255,255,@param);
}

html {
  background: none;
}

body {
  background-color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  webkit-background-size: cover;
  background-size: cover;
}

.header {
  background-color: transparent;
  overflow: hidden;
}

.header-inner {
  min-height: 256px;
}

/* !----- / Logo ----- */

.logo {
  left: 62px;
  top: 50px;
}

/* !----- / Main ----- */

#main {
  .background-white(0.8);
  margin: 0 0 20px 20px;
  padding: 20px;
}

/* !----- / Content ----- */

#content .content {
  padding: 0;
}

/* !----- / Secondary menu ----- */

#block-menu-secondary-links {
  position: absolute;
  right: 10px;
  top: 31px;
}

#block-menu-secondary-links li {
  padding: 0;
}

#block-menu-secondary-links li a {
  padding: 4px 5px 0px;
}

/* !----- / Main menu ----- */

#main-menu {
  background-color: transparent;
  position: relative;
}

#left .menu li,
#left .menu li.first.active-trail.active,
#left .menu li li.first {
  border: 0;
  display: block;
  float: none;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

#left .menu a,
#left .menu li a,
#left .menu li li a {
  display: inline-block;
  padding: 8px 10px 7px;
  text-decoration: none;
}

#left .menu ul {
  margin: 10px 0 0 10px;
}

#left .menu li a,
#left .menu li li.first a,
#left .menu li.first.active-trail.active a {
  border: 0;
}

#left .menu li.last {
  margin-right: 0;
}

/* !----- / Page ----- */

.page-inner {
    background-color: transparent;
    overflow: hidden;
    padding: 0;
}

/* !----- / Pager ----- */

.item-list .pager,
.views_slideshow_singleframe_pager {
  display: block;
  margin: 10px 8px;
  text-align: left;
}

.item-list .pager li,
.views_slideshow_singleframe_pager div {
  margin: 0;
  padding: 0;
}

.item-list .pager a,
.views_slideshow_singleframe_pager div a {
  border: 0;
  padding: 2px 8px;
  text-decoration: none;
}

.item-list .pager .pager-current,
.views_slideshow_singleframe_pager div.activeSlide a {
  background-color: #f7f6f4;
  border: 1px solid #e4e4e4;
  padding: 2px 7px;
}

/* !----- / Carousel ----- */

.slideshow {
  background-color: transparent;
  max-width: 604px;
}

.slideshow .views_slideshow_singleframe_teaser_section {
  height: 300px;
}

.slideshow .views_slideshow_singleframe_pager .pager-item a,
.slideshow .views_slideshow_singleframe_pager .pager-item.activeSlide a {
  text-indent: 0px;
}

.block-views .view div.views_slideshow_slide {
   height: 300px;
   width: 614px;
}

.views_slideshow_slide h3 {
  background: url('../images/slideshow-transparent-bg.png');
  background: rgba(234, 233, 228, 0.7);
  border: 1px solid #bbb;
  bottom: 30px;
  left: 0;
  position: absolute;
  z-index: 10;
}

.block-views .view .view-content .views_slideshow_slide h3 a {
  border-bottom: 0;
  display: block;
}

.views_slideshow_slide img {
  left: 8px;
  position: absolute;
  z-index: 5;
}

/* !----- / Overwrite default loader ----- */

html.js a.views-throbbing,
html.js span.views-throbbing {
  background-image: url("../images/ajax-loader.gif");
  padding: 5px 25px auto auto;
}

/* !----- / Page content ----- */

#main #content .menu .view-content {
  margin: 0;
}

/* !----- / Forms ----- */

textarea, input[type="text"], input[type="password"] {
  padding: 7px;
}

/* !----- / Shadowbox ----- */

#sb-overlay {
  cursor: pointer;
}

#sb-nav-label,
#sb-nav-close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
}

#sb-nav-label {
  color: #fff;
  font-weight: bold;
  line-height: 115%;
  right: 20px;
}

#sb-nav-close {
  height: 13px;
  width: 13px;
}

a[rel^=shadowbox]:link,
a[rel^=shadowbox]:visited {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 15px;
  text-decoration: none;
}